.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 2px;
  background-color: var(--light-color);
  border-radius: 5px;
  overflow-wrap: break-word;
}
